$cachu--gutter: 1.5rem !default;
$cachu__nav--color: #ffffff !default;
$cachu__nav__tooltip-color: currentColor !default;
$cachu__nav--width: 1rem !default;
$cachu__nav--height: $cachu__nav--width !default;
$cachu__nav--zIndex: 50 !default;
